.accordion {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: clamp(1rem, 2vw, 1.1rem);
  line-height: 1.4;
  text-shadow: 3px 2px 2px black;
  --_padding: 0.5rem;
  --_border-radius: 0.3rem;
  --_icon-size: 1.4rem;
  --_panel-color: hsla(199 93% 27% / 0.8);
  --_button-color: hsla(200 70% 80% / 1);
  --_icon-color: hsla(0 0% 14% / 1);
}

@media (min-width: 1024px) {
  .accordion {
    flex-direction: row;
    height: 30rem;
  }
}

.accordion-title {
  width: fit-content;
  padding-block: 1rem;
  background: linear-gradient(45deg, rgb(185, 104, 135), hsla(200 70% 80% / 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.accordion > .panel {
  isolation: isolate;
  position: relative;
  flex-basis: calc(var(--_padding) * 2 + var(--_icon-size));
  overflow: hidden;
  padding: var(--_padding);
  border-radius: calc((var(--_padding) * 2) / 2);
  transition: flex-basis 500ms ease-in-out, flex-grow 500ms ease-in-out;
}

.accordion-panel:focus-within {
  outline: 3px solid var(--_panel-color);
  outline-offset: 4px;
}

.accordion .active {
  flex-basis: clamp(15rem, 40vh, 20rem);
  flex-grow: 1;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accordion .accordion__title {
  display: none;
}

.accordion .active .accordion__title {
  display: block;
}

.accordion .accordion__icon {
  width: calc(var(--_icon-size) * 1.1);
  height: calc(var(--_icon-size) * 1.1);
  font-size: var(--_icon-size);
  color: var(--_icon-color);
  z-index: 10;
}

.accordion .accordion__trigger {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  flex-direction: row-reverse;
  border: none;
  border-radius: 50%;
  padding: 0;
  background: rgba(252 252 252 / 0.7);
}

.accordion .active .accordion__trigger {
  border-radius: 25px var(--_border-radius) var(--_border-radius) 25px;
  padding: 0 0.5rem 0 0;
}

.accordion .accordion__trigger > *:nth-child(2) {
  background: var(--_button-color);
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
}

.accordion .active .panel__content p {
  transition: transform 500ms 500ms, opacity 500ms 500ms;
}

.accordion .panel__content p {
  opacity: 0;
  transform: translateY(2rem);
}

.accordion .active .panel__content p {
  opacity: 1;
  transform: translateY(0);
}

.accordion .panel__content img {
  position: absolute;
  opacity: 1;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.5);
  transition: filter 500ms ease-out;
}

.accordion .active .panel__content img {
  filter: brightness(1);
  transition: filter 500ms ease-in;
}
